üá∫üá∏ <b><big> Data Analysis for USA by State </big></b> üá∫üá∏
<br>
<br>
Data downloaded from <a href="https://apps.bea.gov/API/signup/index.cfm">BEA's API website</a> üóÇ
<br>
<br>
Designed by: Oskar Mierkiewicz & Sebastian Wo≈∫niczka
<br>
<img src="logo.png" width="250" height="320" style="float:left">
<br>
<br>

In [3]:
from libraries.table_load import GetRegionalData
import pandas as pd

In [21]:
x = GetRegionalData() #call the class as x value

Load data with chosen line codes for <b>SAEMP25N</b> frame üëáüèº
<br>
<br>
Mentioned table stored data about <b>"Total Full-Time and Part-Time Employment by NAICS Industry"</b>. 
<br>
API's year parameter has been set for <b>"LAST10"</b> - last ten years.

In [20]:
SAEMP25N_10 = x.bea_frame_return(line_code = 10, table_name= 'SAEMP25N')
SAEMP25N_1000 = x.bea_frame_return(line_code = 1000, table_name= 'SAEMP25N')
SAEMP25N_1101 = x.bea_frame_return(line_code = 1101, table_name= 'SAEMP25N')
SAEMP25N_20 = x.bea_frame_return(line_code = 20, table_name= 'SAEMP25N')
SAEMP25N_200 = x.bea_frame_return(line_code = 200, table_name= 'SAEMP25N')
SAEMP25N_201 = x.bea_frame_return(line_code = 201, table_name= 'SAEMP25N')
SAEMP25N_202 = x.bea_frame_return(line_code = 202, table_name= 'SAEMP25N')
SAEMP25N_400 = x.bea_frame_return(line_code = 400, table_name= 'SAEMP25N')
SAEMP25N_513 = x.bea_frame_return(line_code = 513, table_name= 'SAEMP25N')

üóí <b>Line Codes description: </b>

<b>10</b> -> Total employment <br>
<b>1000</b> -> Private nonfarm employment: Finance and insurance (NAICS:52)<br>
<b>1101</b> -> Private nonfarm employment: Real estate (NAICS:531)<br>
<b>20</b> -> Wage and salary employment<br>
<b>200</b> -> Private nonfarm employment: Mining, quarrying, and oil and gas extraction (NAICS:21)<br>
<b>201</b> -> Private nonfarm employment: Oil and gas extraction (NAICS:211)<br>
<b>202</b> -> Private nonfarm employment: Mining (except oil and gas) (NAICS:212)<br>
<b>400</b> -> Private nonfarm employment: Construction (NAICS:23)<br>
<b>513</b> -> Private nonfarm employment: Primary metal manufacturing (NAICS:331)<br>

In [17]:
SAEMP25N_10

,Code,GeoFips,GeoName,TimePeriod,CL_UNIT,UNIT_MULT,DataValue
0,SAEMP25N-10,00000,United States,2012,Number of jobs,0,"178,979,700"
1,SAEMP25N-10,00000,United States,2013,Number of jobs,0,"182,325,100"
2,SAEMP25N-10,00000,United States,2014,Number of jobs,0,"186,233,800"
3,SAEMP25N-10,00000,United States,2015,Number of jobs,0,"190,325,800"
4,SAEMP25N-10,00000,United States,2016,Number of jobs,0,"193,425,900"
...,...,...,...,...,...,...,...
595,SAEMP25N-10,98000,Far West,2017,Number of jobs,0,"33,654,605"
596,SAEMP25N-10,98000,Far West,2018,Number of jobs,0,"34,413,881"
597,SAEMP25N-10,98000,Far West,2019,Number of jobs,0,"34,648,754"
598,SAEMP25N-10,98000,Far West,2020,Number of jobs,0,"33,104,843"
599,SAEMP25N-10,98000,Far West,2021,Number of jobs,0,"34,191,387"

In [25]:
unique10 = (SAEMP25N_10['GeoName']).unique()
unique10

array(['United States', 'Alabama', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware',
       'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'New England', 'Mideast',
       'Great Lakes', 'Plains', 'Southeast', 'Southwest',
       'Rocky Mountain', 'Far West'], dtype=object)