<h1> 
    üá∫üá∏ <font style="background-color:#14213d;", color='white'>
    <b> Data Analysis for 
        <font color='#3a86ff'>U</f><font color='#ef233c'>S</f><font color='#fffff'>A</f>
    </b>
    </f></h1>
<br>
<br>
Data downloaded from <a href="https://apps.bea.gov/API/signup/index.cfm">BEA's API website</a> üóÇ
<br>
<br>
Designed by:
<br>
<img src="logo.png" width="250" height="320" style="float:left">
<br>
<br>

In [21]:
from libraries.table_load import GetRegionalData
from libraries.frames import MeanFrames
import pandas as pd

In [2]:
x = GetRegionalData() #call the class

<h1 style="color:#fb8500">SAEMP25N</h1>
<br>
<blockquote>Load data with chosen line codes for SAEMP25N frame üëáüèº</blockquote>
<br>
<code style="background:#8ecae6;color:#ffffff">Mentioned table stored data about <b>"Total Full-Time and Part-Time Employment by NAICS Industry"</b>.</code>
<br>
<code style="background:#8ecae6;color:#ffffff">API's year parameter has been set for <b>"ALL"</b> - last ten years.</code>

In [3]:
SAEMP25N_10 = x.bea_frame_return(line_code = 10, table_name= 'SAEMP25N').drop(
    columns=['Code', 'UNIT_MULT']).rename(columns = {'DataValue': 'Total_employment'})

SAEMP25N_1000 = x.bea_frame_return(line_code = 1000, table_name= 'SAEMP25N').drop(
    columns=['Code', 'UNIT_MULT','GeoName', 'TimePeriod', 'CL_UNIT', 'GeoFips']).rename(
        columns = {'DataValue': 'Finance_and_insurance'})

SAEMP25N_1101 = x.bea_frame_return(line_code = 1101, table_name= 'SAEMP25N').drop(
    columns=['Code', 'UNIT_MULT','GeoName', 'TimePeriod', 'CL_UNIT', 'GeoFips']).rename(
        columns = {'DataValue': 'Real_estate'})

SAEMP25N_20 = x.bea_frame_return(line_code = 20, table_name= 'SAEMP25N').drop(
    columns=['Code', 'UNIT_MULT','GeoName', 'TimePeriod', 'CL_UNIT', 'GeoFips']).rename(
        columns = {'DataValue': 'Wage_and_salary_employment'})

SAEMP25N_200 = x.bea_frame_return(line_code = 200, table_name= 'SAEMP25N').drop(
    columns=['Code', 'UNIT_MULT','GeoName', 'TimePeriod', 'CL_UNIT', 'NoteRef', 'GeoFips']).rename(
        columns = {'DataValue': 'Mining_quarrying_oil_gas_ex'})

SAEMP25N_201 = x.bea_frame_return(line_code = 201, table_name= 'SAEMP25N').drop(
    columns=['Code', 'UNIT_MULT','GeoName', 'TimePeriod', 'CL_UNIT', 'NoteRef', 'GeoFips']).rename(
        columns = {'DataValue': 'Oil_gas_ex'})

SAEMP25N_202 = x.bea_frame_return(line_code = 202, table_name= 'SAEMP25N').drop(
    columns=['Code', 'UNIT_MULT','GeoName', 'TimePeriod', 'CL_UNIT', 'NoteRef', 'GeoFips']).rename(
        columns = {'DataValue': 'Mining_no_oil_gas'})

SAEMP25N_400 = x.bea_frame_return(line_code = 400, table_name= 'SAEMP25N').drop(
    columns=['Code', 'UNIT_MULT','GeoName', 'TimePeriod', 'CL_UNIT', 'NoteRef', 'GeoFips']).rename(
        columns = {'DataValue': 'Construction'})

SAEMP25N_513 = x.bea_frame_return(line_code = 513, table_name= 'SAEMP25N').drop(
    columns=['Code', 'UNIT_MULT','GeoName', 'TimePeriod', 'CL_UNIT', 'NoteRef', 'GeoFips']).rename(
        columns = {'DataValue': 'Metal_manufacturing'})

üóí <b>Line Codes description: </b>
<br>
<br>
<b>10</b> -> Total employment <br>
<b>1000</b> -> Private nonfarm employment: Finance and insurance (NAICS:52)<br>
<b>1101</b> -> Private nonfarm employment: Real estate (NAICS:531)<br>
<b>20</b> -> Wage and salary employment<br>
<b>200</b> -> Private nonfarm employment: Mining, quarrying, and oil and gas extraction (NAICS:21)<br>
<b>201</b> -> Private nonfarm employment: Oil and gas extraction (NAICS:211)<br>
<b>202</b> -> Private nonfarm employment: Mining (except oil and gas) (NAICS:212)<br>
<b>400</b> -> Private nonfarm employment: Construction (NAICS:23)<br>
<b>513</b> -> Private nonfarm employment: Primary metal manufacturing (NAICS:331)<br>

In [4]:
dfs = [SAEMP25N_10, SAEMP25N_1000, SAEMP25N_1101, SAEMP25N_20, SAEMP25N_200, 
       SAEMP25N_201, SAEMP25N_202, SAEMP25N_400, SAEMP25N_513]

nan_value = 0

In [5]:
SAEMP25N = pd.concat(dfs, join='inner', axis=1).fillna(nan_value).replace(['(D)'], '0')
SAEMP25N

,GeoFips,GeoName,TimePeriod,CL_UNIT,Total_employment,Finance_and_insurance,Real_estate,NoteRef,Wage_and_salary_employment,Mining_quarrying_oil_gas_ex,Oil_gas_ex,Mining_no_oil_gas,Construction,Metal_manufacturing
0,00000,United States,1998,Number of jobs,"158,481,200","7,666,000","4,430,500",0,"131,920,000","829,000","361,900","273,400","8,888,800","646,000"
1,00000,United States,1999,Number of jobs,"161,531,300","7,721,900","4,167,600",0,"134,766,000","787,200","349,900","261,500","9,245,300","626,600"
2,00000,United States,2000,Number of jobs,"165,370,800","7,833,600","4,596,600",0,"137,610,000","757,000","325,500","248,400","9,540,300","620,600"
3,00000,United States,2001,Number of jobs,"165,522,200","7,800,600","4,682,700",0,"137,334,000","808,400","356,000","250,900","9,816,700","575,300"
4,00000,United States,2002,Number of jobs,"165,095,100","7,866,300","4,857,700",0,"136,301,000","748,000","325,300","231,700","9,668,800","513,500"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,98000,Far West,2017,Number of jobs,"33,654,605","1,452,324","1,529,642",0,"25,854,179","101,570",0,0,"1,709,008",0
1436,98000,Far West,2018,Number of jobs,"34,413,881","1,509,974","1,566,672",0,"26,393,445","86,973",0,0,"1,798,898",0
1437,98000,Far West,2019,Number of jobs,"34,648,754","1,455,846","1,493,996",0,"26,852,351","81,802","27,664","33,462","1,832,885",0
1438,98000,Far West,2020,Number of jobs,"33,104,843","1,583,087","1,595,043",0,"24,969,033","78,892","26,186",0,"1,817,464",0
1439,98000,Far West,2021,Number of jobs,"34,191,387","1,631,059","1,641,064",0,"25,837,369","75,492",0,0,"1,884,566",0

<h1 style="color:#023047">SAGDP1</h1>
<br>
<blockquote>Load data with chosen line codes for SAGDP1 frame üëáüèº</blockquote>
<br>
<code style="background:#8ecae6;color:#ffffff">Mentioned table stored data about <b>"Gross domestic product (GDP) by state summary"</b>.</code>
<br>
<code style="background:#8ecae6;color:#ffffff">API's year parameter has been set for <b>"ALL"</b> - last ten years.</code>

In [6]:
SAGDP1_1 = x.bea_frame_return(line_code = 1, table_name= 'SAGDP1').drop(
     columns=['Code', 'UNIT_MULT']).rename(columns = {'DataValue': 'Real_GDP'})

üóí <b>Line Codes description: </b>
<br>
<br>
<b>1</b> -> Real Gross Domestic Product (GDP)

In [7]:
SAGDP1  = SAGDP1_1.loc[SAGDP1_1['TimePeriod'] >= '1998'] 
SAGDP1

,GeoFips,GeoName,TimePeriod,CL_UNIT,Real_GDP
1,00000,United States,1998,Millions of chained 2012 dollars,"12,045,824.0"
2,00000,United States,1999,Millions of chained 2012 dollars,"12,623,361.0"
3,00000,United States,2000,Millions of chained 2012 dollars,"13,138,035.0"
4,00000,United States,2001,Millions of chained 2012 dollars,"13,263,417.0"
5,00000,United States,2002,Millions of chained 2012 dollars,"13,488,357.0"
...,...,...,...,...,...
1495,98000,Far West,2017,Millions of chained 2012 dollars,"3,504,871.9"
1496,98000,Far West,2018,Millions of chained 2012 dollars,"3,658,195.2"
1497,98000,Far West,2019,Millions of chained 2012 dollars,"3,772,219.3"
1498,98000,Far West,2020,Millions of chained 2012 dollars,"3,689,413.4"
1499,98000,Far West,2021,Millions of chained 2012 dollars,"3,963,354.0"

<h1 style="color:#ffb703">SAGDP9N</h1>
<br>
<blockquote>Load data with chosen line codes for SAGDP9N frame üëáüèº</blockquote>
<br>
<code style="background:#8ecae6;color:#ffffff">Mentioned table stored data about <b>"Real GDP by state"</b>.</code>
<br>
<code style="background:#8ecae6;color:#ffffff">API's year parameter has been set for <b>"ALL"</b> - last ten years.</code>

In [8]:
SAGDP9N_1 = x.bea_frame_return(line_code = 1, table_name= 'SAGDP9N').drop(
     columns=['Code', 'UNIT_MULT']).rename(columns = {'DataValue': 'GDP_All_industry_total'})

SAGDP9N_7 = x.bea_frame_return(line_code = 7, table_name= 'SAGDP9N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT','UNIT_MULT']).rename(
    columns = {'DataValue': 'GDP_Oil_gas_extraction'})

SAGDP9N_11 = x.bea_frame_return(line_code = 11, table_name= 'SAGDP9N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT','UNIT_MULT']).rename(
    columns = {'DataValue': 'GDP_Construction'})

üóí <b>Line Codes description: </b>
<br>
<br>
<b>1</b> -> Real GDP by state: All industry total
<br>
<b>7</b> -> Real GDP by state: Oil and gas extraction (NAICS:211)
<br>
<b>11</b> -> Real GDP by state: Construction (NAICS:23)

In [9]:
dfs = [SAGDP9N_1, SAGDP9N_7, SAGDP9N_11]

nan_value = 0

In [10]:
SAGDP9N = pd.concat(dfs, join='inner', axis=1).fillna(nan_value).replace(['(D)'], '0')
SAGDP9N = SAGDP9N.loc[SAGDP9N['TimePeriod'] >= '1998'] 
SAGDP9N

,GeoFips,GeoName,TimePeriod,CL_UNIT,GDP_All_industry_total,GDP_Oil_gas_extraction,NoteRef,GDP_Construction
1,00000,United States,1998,Millions of chained 2012 dollars,"12,045,824.0","203,934.0",0,"721,700.0"
2,00000,United States,1999,Millions of chained 2012 dollars,"12,623,361.0","185,803.0",0,"751,508.0"
3,00000,United States,2000,Millions of chained 2012 dollars,"13,138,035.0","137,484.0",0,"781,608.0"
4,00000,United States,2001,Millions of chained 2012 dollars,"13,263,417.0","161,220.0",0,"767,046.0"
5,00000,United States,2002,Millions of chained 2012 dollars,"13,488,357.0","185,241.0",0,"742,224.0"
...,...,...,...,...,...,...,...,...
1495,98000,Far West,2017,Millions of chained 2012 dollars,"3,504,871.9","25,981.1",0,"125,471.1"
1496,98000,Far West,2018,Millions of chained 2012 dollars,"3,658,195.2","19,930.0",0,"131,691.7"
1497,98000,Far West,2019,Millions of chained 2012 dollars,"3,772,219.3","22,008.0",0,"134,717.8"
1498,98000,Far West,2020,Millions of chained 2012 dollars,"3,689,413.4","25,987.0",0,"128,178.7"
1499,98000,Far West,2021,Millions of chained 2012 dollars,"3,963,354.0","18,843.6",0,"131,471.5"

<h1 style="color:#2a9d8f">SAGDP6N</h1>
<br>
<blockquote>Load data with chosen line codes for SAGDP6N frame üëáüèº</blockquote>
<br>
<code style="background:#8ecae6;color:#ffffff">Mentioned table stored data about <b>"Taxes on production and imports"</b>.</code>
<br>
<code style="background:#8ecae6;color:#ffffff">API's year parameter has been set for <b>"ALL"</b> - last ten years.</code>

In [11]:
SAGDP6N_1 = x.bea_frame_return(line_code = 1, table_name= 'SAGDP6N').drop(
     columns=['Code', 'UNIT_MULT', 'NoteRef']).rename(columns = {'DataValue': 'Taxes_All_industry_total'})

SAGDP6N_11 = x.bea_frame_return(line_code = 11, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT','UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Taxes_Construction'})

SAGDP6N_69 = x.bea_frame_return(line_code = 69, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT','UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Taxes_Educational_services'})

üóí <b>Line Codes description: </b>
<br>
<br>
<b>1</b> -> Taxes on production and imports: All industry total
<br>
<b>11</b> -> Taxes on production and imports: Construction (NAICS:23)
<br>
<b>69</b> -> Taxes on production and imports: Educational services (NAICS:61)

In [12]:
dfs = [SAGDP6N_1, SAGDP6N_11, SAGDP6N_69]

nan_value = 0

In [13]:
SAGDP6N = pd.concat(dfs, join='inner', axis=1).fillna(nan_value).replace(['(D)'], '0')
SAGDP6N = SAGDP6N.loc[SAGDP6N['TimePeriod'] >= '1998']
SAGDP6N

,GeoFips,GeoName,TimePeriod,CL_UNIT,Taxes_All_industry_total,Taxes_Construction,Taxes_Educational_services
1,00000,United States *,1998,Thousands of dollars,"639,472,000","4,768,000","3,614,000"
2,00000,United States *,1999,Thousands of dollars,"673,585,000","5,222,000","3,910,000"
3,00000,United States *,2000,Thousands of dollars,"708,556,000","5,593,000","4,255,000"
4,00000,United States *,2001,Thousands of dollars,"727,691,000","5,656,000","3,921,000"
5,00000,United States *,2002,Thousands of dollars,"760,032,000","6,059,000","4,309,000"
...,...,...,...,...,...,...,...
1495,98000,Far West,2017,Thousands of dollars,"254,796,558","2,440,547","1,256,480"
1496,98000,Far West,2018,Thousands of dollars,"281,113,313","2,727,939","1,390,248"
1497,98000,Far West,2019,Thousands of dollars,"300,441,118","2,987,154","1,527,934"
1498,98000,Far West,2020,Thousands of dollars,"301,322,699","3,210,563","1,604,009"
1499,98000,Far West,2021,Thousands of dollars,"323,923,892","3,443,357","1,651,222"

<h1 style="color:#e76f51">SAPCE2</h1>
<br>
<blockquote>Load data with chosen line codes for SAPCE2 frame üëáüèº</blockquote>
<br>
<code style="background:#8ecae6;color:#ffffff">Mentioned table stored data about <b>"Per capita personal consumption expenditures (PCE) by major type of product"</b>.</code>
<br>
<code style="background:#8ecae6;color:#ffffff">API's year parameter has been set for <b>"ALL"</b> - last ten years.</code>

In [14]:
SAPCE2_1 = x.bea_frame_return(line_code = 1, table_name= 'SAPCE2').drop(
     columns=['Code', 'UNIT_MULT']).rename(columns = {'DataValue': 'PCE_by_state'})

SAPCE2_10 = x.bea_frame_return(line_code = 10, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Clothing_footwear'})

SAPCE2_11 = x.bea_frame_return(line_code = 11, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Gasoline_other_energy_goods'})

SAPCE2_12 = x.bea_frame_return(line_code = 12, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Other_nondurable_goods'})

SAPCE2_13 = x.bea_frame_return(line_code = 13, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Services'})

SAPCE2_14 = x.bea_frame_return(line_code = 14, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Household_consumption_expenditures'})

SAPCE2_15 = x.bea_frame_return(line_code = 15, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Housing_and_utilities'})

SAPCE2_16 = x.bea_frame_return(line_code = 16, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Health_care'})

SAPCE2_17 = x.bea_frame_return(line_code = 17, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Transportation_services'})

SAPCE2_18 = x.bea_frame_return(line_code = 18, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Recreation_services'})

SAPCE2_19 = x.bea_frame_return(line_code = 19, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Food_services_and_accommodations'})

SAPCE2_2 = x.bea_frame_return(line_code = 2, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Goods'})

SAPCE2_20 = x.bea_frame_return(line_code = 20, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Financial_services_and_insurance'})

SAPCE2_21 = x.bea_frame_return(line_code = 21, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Other_services'})

SAPCE2_22 = x.bea_frame_return(line_code = 22, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'NPISHs'})

SAPCE2_23 = x.bea_frame_return(line_code = 23, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Gross_output_nonprofit_institutions'})

SAPCE2_24 = x.bea_frame_return(line_code = 24, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Less_Receipts_sales_goods_services_nonprofit_institutions'})

SAPCE2_3 = x.bea_frame_return(line_code = 3, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Durable_goods'})

SAPCE2_4 = x.bea_frame_return(line_code = 4, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Motor_vehicles_and_parts'})

SAPCE2_5 = x.bea_frame_return(line_code = 5, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Furnishings_and_durable_household_equipment'})

SAPCE2_6 = x.bea_frame_return(line_code = 6, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Recreational_goods_and_vehicles'})

SAPCE2_7 = x.bea_frame_return(line_code = 7, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Other_durable_goods'})

SAPCE2_8 = x.bea_frame_return(line_code = 8, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Nondurable_goods'})

SAPCE2_9 = x.bea_frame_return(line_code = 9, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Food_and_beverages_purchased_offpremises_consumption'})

üóí <b>Line Codes description: </b>
<br>
<br>
<b>1</b> -> Per capita personal consumption expenditures (PCE) by state<br>
<b>10</b> -> Per capita personal consumption expenditures: Clothing and footwear<br>
<b>11</b> -> Per capita personal consumption expenditures: Gasoline and other energy goods<br>
<b>12</b> -> Per capita personal consumption expenditures: Other nondurable goods<br>
<b>13</b> -> Per capita personal consumption expenditures: Services<br>
<b>14</b> -> Per capita personal consumption expenditures: Household consumption expenditures (for services)<br>
<b>15</b> -> Per capita personal consumption expenditures: Housing and utilities<br>
<b>16</b> -> Per capita personal consumption expenditures: Health care<br>
<b>17</b> -> Per capita personal consumption expenditures: Transportation services<br>
<b>18</b> -> Per capita personal consumption expenditures: Recreation services<br>
<b>19</b> -> Per capita personal consumption expenditures: Food services and accommodations<br>
<b>2</b> -> Per capita personal consumption expenditures: Goods<br>
<b>20</b> -> Per capita personal consumption expenditures: Financial services and insurance<br>
<b>21</b> -> Per capita personal consumption expenditures: Other services<br>
<b>22</b> -> Per capita personal consumption expenditures: Final consumption expenditures of nonprofit institutions serving households (NPISHs)<br>
<b>23</b> -> Per capita personal consumption expenditures: Gross output of nonprofit institutions<br>
<b>24</b> -> Per capita personal consumption expenditures: Less: Receipts from sales of goods and services by nonprofit institutions<br>
<b>3</b> -> Per capita personal consumption expenditures: Durable goods<br>
<b>4</b> -> Per capita personal consumption expenditures: Motor vehicles and parts<br>
<b>5</b> -> Per capita personal consumption expenditures: Furnishings and durable household equipment<br>
<b>6</b> -> Per capita personal consumption expenditures: Recreational goods and vehicles<br>
<b>7</b> -> Per capita personal consumption expenditures: Other durable goods<br>
<b>8</b> -> Per capita personal consumption expenditures: Nondurable goods<br>
<b>9</b> -> Per capita personal consumption expenditures: Food and beverages purchased for off-premises consumption<br>

In [15]:
dfs = [SAPCE2_1, SAPCE2_2, SAPCE2_3, SAPCE2_4, SAPCE2_5, SAPCE2_6, SAPCE2_7, SAPCE2_8, SAPCE2_9, SAPCE2_10,
      SAPCE2_11, SAPCE2_12, SAPCE2_13, SAPCE2_14, SAPCE2_15, SAPCE2_16, SAPCE2_17, SAPCE2_18, SAPCE2_19, SAPCE2_20,
      SAPCE2_21, SAPCE2_22, SAPCE2_23, SAPCE2_24]

nan_value = 0

In [16]:
SAPCE2 = pd.concat(dfs, join='inner', axis=1).fillna(nan_value).replace(['(D)'], '0')
SAPCE2 = SAPCE2.loc[SAPCE2['TimePeriod'] >= '1998']
SAPCE2

,GeoFips,GeoName,TimePeriod,CL_UNIT,PCE_by_state,Goods,Durable_goods,Motor_vehicles_and_parts,Furnishings_and_durable_household_equipment,Recreational_goods_and_vehicles,...,Housing_and_utilities,Health_care,Transportation_services,Recreation_services,Food_services_and_accommodations,Financial_services_and_insurance,Other_services,NPISHs,Gross_output_nonprofit_institutions,Less_Receipts_sales_goods_services_nonprofit_institutions
1,00000,United States,1998,Dollars,"21,306","639,222,000","4,983,000","4,208,000","775,000","12,215,000",...,"916,000","2,055,000","1,939,000","2,169,000","3,825,000","772,000","1,768,000","1,241,000","278,000","869,000"
2,00000,United States,1999,Dollars,"22,519","673,321,000","5,569,000","4,744,000","825,000","12,011,000",...,"958,000","2,066,000","2,057,000","2,330,000","4,099,000","799,000","1,896,000","1,337,000","300,000","924,000"
3,00000,United States,2000,Dollars,"23,983","708,267,000","5,493,000","4,626,000","867,000","14,453,000",...,"1,006,000","2,107,000","2,150,000","2,511,000","4,574,000","860,000","1,975,000","1,398,000","320,000","943,000"
4,00000,United States,2001,Dollars,"24,823","727,368,000","5,460,000","4,628,000","832,000","14,887,000",...,"938,000","1,807,000","1,953,000","2,458,000","5,440,000","1,011,000","2,270,000","1,539,000","298,000","1,147,000"
5,00000,United States,2002,Dollars,"25,550","759,702,000","5,694,000","4,893,000","801,000","14,673,000",...,"990,000","1,865,000","2,074,000","2,518,000","5,628,000","1,054,000","2,412,000","1,637,000","319,000","1,239,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,98000,Far West,2017,Dollars,"43,380","254,777,048","1,969,976","1,232,678","737,299","3,245,864",...,"196,854","238,236","402,354","428,015","3,179,639","141,910","208,726","750,128","51,970","339,185"
1496,98000,Far West,2018,Dollars,"45,597","281,091,865","2,087,522","1,224,033","863,489","3,844,320",...,"211,879","253,054","424,698","446,515","3,414,801","170,874","236,447","799,412","54,039","359,426"
1497,98000,Far West,2019,Dollars,"47,471","300,420,191","2,173,639","1,280,698","892,941","3,431,192",...,"224,351","271,114","461,741","484,381","3,596,249","193,753","255,627","816,888","58,799","418,093"
1498,98000,Far West,2020,Dollars,"45,954","301,297,288","2,226,165","1,355,218","870,946","3,000,820",...,"232,731","270,251","461,285","526,500","3,985,678","203,698","354,379","838,487","60,079","402,870"
1499,98000,Far West,2021,Dollars,"51,959","323,902,488","2,426,729","1,467,690","959,039","3,477,182",...,"240,887","265,991","453,430","557,203","4,381,431","227,987","396,930","848,948","62,195","422,287"

<b><blockquote>Load xlsx data üìà</blockquote></b> 
<br>
<br>
<b>Tables descirption:</b>
<br>
<br>
<i>inflation_rate</i> - 
<br>
<i>consumer_index</i> -

In [17]:
y = MeanFrames() #call the class

In [18]:
# inflation_2020 = y.single_frame('inflation_rate', 2020)
# inflation_2020

In [19]:
inflation_1998_2021 = y.frames_total('inflation_rate', 1998, 2021)
inflation_1998_2021

    year  next_year  next_5_years
0   1998       2.46          2.82
1   1999       2.74          2.85
2   2000       2.98          2.92
3   2001       2.43          2.94
4   2002       2.50          2.79
5   2003       2.48          2.73
6   2004       2.96          2.80
7   2005       3.34          2.93
8   2006       3.22          3.01
9   2007       3.22          2.97
10  2008       4.09          3.06
11  2009       2.57          2.88
12  2010       2.78          2.79
13  2011       3.63          2.88
14  2012       3.26          2.82
15  2013       3.11          2.88
16  2014       3.09          2.82
17  2015       2.73          2.68
18  2016       2.51          2.54
19  2017       2.58          2.48
20  2018       2.81          2.51
21  2019       2.61          2.43
22  2020       2.67          2.52
23  2021       4.17          2.85

In [20]:
consumer_index_1998_2021 = y.frames_total('consumer_index', 1998, 2021)
consumer_index_1998_2021

    year  consumer_sentiment_index
0   1998                    104.62
1   1999                    105.82
2   2000                    107.58
3   2001                     89.24
4   2002                     89.58
5   2003                     87.62
6   2004                     95.20
7   2005                     88.55
8   2006                     87.31
9   2007                     85.58
10  2008                     63.75
11  2009                     66.26
12  2010                     71.84
13  2011                     67.35
14  2012                     76.54
15  2013                     79.21
16  2014                     84.12
17  2015                     92.94
18  2016                     91.84
19  2017                     96.77
20  2018                     98.37
21  2019                     95.98
22  2020                     81.54
23  2021                     77.62