<h1> 
    üá∫üá∏ <font style="background-color:#14213d;", color='white'>
    <b> Data Analysis for 
        <font color='#3a86ff'>U</f><font color='#ef233c'>S</f><font color='#fffff'>A</f>
    </b>
    </f></h1>
<br>
<br>
Data downloaded from <a href="https://apps.bea.gov/API/signup/index.cfm">BEA's API website</a> üóÇ
<br>
<br>
Designed by: Oskar Mierkiewicz & Sebastian Wo≈∫niczka
<br>
<img src="logo.png" width="250" height="320" style="float:left">
<br>
<br>

In [52]:
from libraries.table_load import GetRegionalData
import pandas as pd

In [2]:
x = GetRegionalData() #call the class as x value

<h1 style="color:#fb8500">SAEMP25N</h1>
<br>
<blockquote>Load data with chosen line codes for SAEMP25N frame üëáüèº</blockquote>
<br>
<code style="background:#8ecae6;color:#ffffff">Mentioned table stored data about <b>"Total Full-Time and Part-Time Employment by NAICS Industry"</b>.</code>
<br>
<code style="background:#8ecae6;color:#ffffff">API's year parameter has been set for <b>"LAST10"</b> - last ten years.</code>

In [7]:
SAEMP25N_10 = x.bea_frame_return(line_code = 10, table_name= 'SAEMP25N').drop(
    columns=['Code', 'UNIT_MULT']).rename(columns = {'DataValue': 'Total_employment'})

SAEMP25N_1000 = x.bea_frame_return(line_code = 1000, table_name= 'SAEMP25N').drop(
    columns=['Code', 'UNIT_MULT','GeoName', 'TimePeriod', 'CL_UNIT', 'GeoFips']).rename(
        columns = {'DataValue': 'Finance_and_insurance'})

SAEMP25N_1101 = x.bea_frame_return(line_code = 1101, table_name= 'SAEMP25N').drop(
    columns=['Code', 'UNIT_MULT','GeoName', 'TimePeriod', 'CL_UNIT', 'GeoFips']).rename(
        columns = {'DataValue': 'Real_estate'})

SAEMP25N_20 = x.bea_frame_return(line_code = 20, table_name= 'SAEMP25N').drop(
    columns=['Code', 'UNIT_MULT','GeoName', 'TimePeriod', 'CL_UNIT', 'GeoFips']).rename(
        columns = {'DataValue': 'Wage_and_salary_employment'})

SAEMP25N_200 = x.bea_frame_return(line_code = 200, table_name= 'SAEMP25N').drop(
    columns=['Code', 'UNIT_MULT','GeoName', 'TimePeriod', 'CL_UNIT', 'NoteRef', 'GeoFips']).rename(
        columns = {'DataValue': 'Mining_quarrying_oil_gas_ex'})

SAEMP25N_201 = x.bea_frame_return(line_code = 201, table_name= 'SAEMP25N').drop(
    columns=['Code', 'UNIT_MULT','GeoName', 'TimePeriod', 'CL_UNIT', 'NoteRef', 'GeoFips']).rename(
        columns = {'DataValue': 'Oil_gas_ex'})

SAEMP25N_202 = x.bea_frame_return(line_code = 202, table_name= 'SAEMP25N').drop(
    columns=['Code', 'UNIT_MULT','GeoName', 'TimePeriod', 'CL_UNIT', 'NoteRef', 'GeoFips']).rename(
        columns = {'DataValue': 'Mining_no_oil_gas'})

SAEMP25N_400 = x.bea_frame_return(line_code = 400, table_name= 'SAEMP25N').drop(
    columns=['Code', 'UNIT_MULT','GeoName', 'TimePeriod', 'CL_UNIT', 'NoteRef', 'GeoFips']).rename(
        columns = {'DataValue': 'Construction'})

SAEMP25N_513 = x.bea_frame_return(line_code = 513, table_name= 'SAEMP25N').drop(
    columns=['Code', 'UNIT_MULT','GeoName', 'TimePeriod', 'CL_UNIT', 'NoteRef', 'GeoFips']).rename(
        columns = {'DataValue': 'Metal_manufacturing'})

üóí <b>Line Codes description: </b>
<br>
<br>
<b>10</b> -> Total employment <br>
<b>1000</b> -> Private nonfarm employment: Finance and insurance (NAICS:52)<br>
<b>1101</b> -> Private nonfarm employment: Real estate (NAICS:531)<br>
<b>20</b> -> Wage and salary employment<br>
<b>200</b> -> Private nonfarm employment: Mining, quarrying, and oil and gas extraction (NAICS:21)<br>
<b>201</b> -> Private nonfarm employment: Oil and gas extraction (NAICS:211)<br>
<b>202</b> -> Private nonfarm employment: Mining (except oil and gas) (NAICS:212)<br>
<b>400</b> -> Private nonfarm employment: Construction (NAICS:23)<br>
<b>513</b> -> Private nonfarm employment: Primary metal manufacturing (NAICS:331)<br>

In [13]:
dfs = [SAEMP25N_10, SAEMP25N_1000, SAEMP25N_1101, SAEMP25N_20, SAEMP25N_200, 
       SAEMP25N_201, SAEMP25N_202, SAEMP25N_400, SAEMP25N_513]

nan_value = 0

In [14]:
SAEMP25N = pd.concat(dfs, join='inner', axis=1).fillna(nan_value).replace(['(D)'], '0')
SAEMP25N

,GeoFips,GeoName,TimePeriod,CL_UNIT,Total_employment,Finance_and_insurance,Real_estate,Wage_and_salary_employment,Mining_quarrying_oil_gas_ex,Oil_gas_ex,Mining_no_oil_gas,Construction,Metal_manufacturing
0,00000,United States,2012,Number of jobs,"178,979,700","9,700,300","7,136,800","139,619,000","1,551,200","787,900","306,600","8,933,800","412,400"
1,00000,United States,2013,Number of jobs,"182,325,100","9,815,300","7,320,100","141,932,000","1,607,000","876,300","275,700","9,237,800","404,900"
2,00000,United States,2014,Number of jobs,"186,233,800","9,621,000","7,687,200","144,722,000","1,597,500","839,900","267,700","9,564,300","408,600"
3,00000,United States,2015,Number of jobs,"190,325,800","9,845,600","7,939,600","147,641,000","1,553,300","873,700","264,600","9,844,900","400,100"
4,00000,United States,2016,Number of jobs,"193,425,900","10,188,400","8,097,300","149,960,000","1,452,200","886,000","252,200","10,322,100","381,400"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,98000,Far West,2017,Number of jobs,"33,654,605","1,452,324","1,529,642","25,854,179","101,570",0,0,"1,709,008",0
596,98000,Far West,2018,Number of jobs,"34,413,881","1,509,974","1,566,672","26,393,445","86,973",0,0,"1,798,898",0
597,98000,Far West,2019,Number of jobs,"34,648,754","1,455,846","1,493,996","26,852,351","81,802","27,664","33,462","1,832,885",0
598,98000,Far West,2020,Number of jobs,"33,104,843","1,583,087","1,595,043","24,969,033","78,892","26,186",0,"1,817,464",0
599,98000,Far West,2021,Number of jobs,"34,191,387","1,631,059","1,641,064","25,837,369","75,492",0,0,"1,884,566",0

<h1 style="color:#023047">SAGDP1</h1>
<br>
<blockquote>Load data with chosen line codes for SAGDP1 frame üëáüèº</blockquote>
<br>
<code style="background:#8ecae6;color:#ffffff">Mentioned table stored data about <b>"Gross domestic product (GDP) by state summary"</b>.</code>
<br>
<code style="background:#8ecae6;color:#ffffff">API's year parameter has been set for <b>"LAST10"</b> - last ten years.</code>

In [22]:
SAGDP1_1 = x.bea_frame_return(line_code = 1, table_name= 'SAGDP1').drop(
     columns=['Code', 'UNIT_MULT']).rename(columns = {'DataValue': 'Real_GDP'})

üóí <b>Line Codes description: </b>
<br>
<br>
<b>1</b> -> Real Gross Domestic Product (GDP)

In [30]:
SAGDP1 = SAGDP1_1
SAGDP1

,GeoFips,GeoName,TimePeriod,CL_UNIT,Real_GDP
0,00000,United States,2012,Millions of chained 2012 dollars,"16,253,970.0"
1,00000,United States,2013,Millions of chained 2012 dollars,"16,553,348.0"
2,00000,United States,2014,Millions of chained 2012 dollars,"16,932,051.0"
3,00000,United States,2015,Millions of chained 2012 dollars,"17,390,295.0"
4,00000,United States,2016,Millions of chained 2012 dollars,"17,680,274.0"
...,...,...,...,...,...
595,98000,Far West,2017,Millions of chained 2012 dollars,"3,504,871.9"
596,98000,Far West,2018,Millions of chained 2012 dollars,"3,658,195.2"
597,98000,Far West,2019,Millions of chained 2012 dollars,"3,772,219.3"
598,98000,Far West,2020,Millions of chained 2012 dollars,"3,689,413.4"
599,98000,Far West,2021,Millions of chained 2012 dollars,"3,963,354.0"

<h1 style="color:#ffb703">SAGDP9N</h1>
<br>
<blockquote>Load data with chosen line codes for SAGDP9N frame üëáüèº</blockquote>
<br>
<code style="background:#8ecae6;color:#ffffff">Mentioned table stored data about <b>"Real GDP by state"</b>.</code>
<br>
<code style="background:#8ecae6;color:#ffffff">API's year parameter has been set for <b>"LAST10"</b> - last ten years.</code>

In [38]:
SAGDP9N_1 = x.bea_frame_return(line_code = 1, table_name= 'SAGDP9N').drop(
     columns=['Code', 'UNIT_MULT']).rename(columns = {'DataValue': 'GDP_All_industry_total'})

SAGDP9N_7 = x.bea_frame_return(line_code = 7, table_name= 'SAGDP9N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT','UNIT_MULT']).rename(
    columns = {'DataValue': 'GDP_Oil_gas_extraction'})

SAGDP9N_11 = x.bea_frame_return(line_code = 11, table_name= 'SAGDP9N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT','UNIT_MULT']).rename(
    columns = {'DataValue': 'GDP_Construction'})

üóí <b>Line Codes description: </b>
<br>
<br>
<b>1</b> -> Real GDP by state: All industry total
<br>
<b>7</b> -> Real GDP by state: Oil and gas extraction (NAICS:211)
<br>
<b>11</b> -> Real GDP by state: Construction (NAICS:23)

In [39]:
dfs = [SAGDP9N_1, SAGDP9N_7, SAGDP9N_11]

nan_value = 0

In [40]:
SAGDP9N = pd.concat(dfs, join='inner', axis=1).fillna(nan_value).replace(['(D)'], '0')
SAGDP9N

,GeoFips,GeoName,TimePeriod,CL_UNIT,GDP_All_industry_total,GDP_Oil_gas_extraction,GDP_Construction
0,00000,United States,2012,Millions of chained 2012 dollars,"16,253,970.0","224,919.0","554,942.0"
1,00000,United States,2013,Millions of chained 2012 dollars,"16,553,348.0","237,200.0","568,266.0"
2,00000,United States,2014,Millions of chained 2012 dollars,"16,932,051.0","268,918.0","579,076.0"
3,00000,United States,2015,Millions of chained 2012 dollars,"17,390,295.0","363,314.0","605,092.0"
4,00000,United States,2016,Millions of chained 2012 dollars,"17,680,274.0","383,444.0","628,155.0"
...,...,...,...,...,...,...,...
595,98000,Far West,2017,Millions of chained 2012 dollars,"3,504,871.9","25,981.1","125,471.1"
596,98000,Far West,2018,Millions of chained 2012 dollars,"3,658,195.2","19,930.0","131,691.7"
597,98000,Far West,2019,Millions of chained 2012 dollars,"3,772,219.3","22,008.0","134,717.8"
598,98000,Far West,2020,Millions of chained 2012 dollars,"3,689,413.4","25,987.0","128,178.7"
599,98000,Far West,2021,Millions of chained 2012 dollars,"3,963,354.0","18,843.6","131,471.5"

<h1 style="color:#2a9d8f">SAGDP6N</h1>
<br>
<blockquote>Load data with chosen line codes for SAGDP6N frame üëáüèº</blockquote>
<br>
<code style="background:#8ecae6;color:#ffffff">Mentioned table stored data about <b>"Taxes on production and imports"</b>.</code>
<br>
<code style="background:#8ecae6;color:#ffffff">API's year parameter has been set for <b>"LAST10"</b> - last ten years.</code>

In [45]:
SAGDP6N_1 = x.bea_frame_return(line_code = 1, table_name= 'SAGDP6N').drop(
     columns=['Code', 'UNIT_MULT', 'NoteRef']).rename(columns = {'DataValue': 'Taxes_All_industry_total'})

SAGDP6N_11 = x.bea_frame_return(line_code = 11, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT','UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Taxes_Construction'})

SAGDP6N_69 = x.bea_frame_return(line_code = 69, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT','UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Taxes_Educational_services'})

üóí <b>Line Codes description: </b>
<br>
<br>
<b>1</b> -> Taxes on production and imports: All industry total
<br>
<b>11</b> -> Taxes on production and imports: Construction (NAICS:23)
<br>
<b>69</b> -> Taxes on production and imports: Educational services (NAICS:61)

In [46]:
dfs = [SAGDP6N_1, SAGDP6N_11, SAGDP6N_69]

nan_value = 0

In [47]:
SAGDP6N = pd.concat(dfs, join='inner', axis=1).fillna(nan_value).replace(['(D)'], '0')
SAGDP6N

,GeoFips,GeoName,TimePeriod,CL_UNIT,Taxes_All_industry_total,Taxes_Construction,Taxes_Educational_services
0,00000,United States *,2012,Thousands of dollars,"1,136,117,000","7,452,000","7,937,000"
1,00000,United States *,2013,Thousands of dollars,"1,188,662,000","7,906,000","8,185,000"
2,00000,United States *,2014,Thousands of dollars,"1,240,830,000","8,399,000","8,069,000"
3,00000,United States *,2015,Thousands of dollars,"1,275,152,000","8,935,000","8,312,000"
4,00000,United States *,2016,Thousands of dollars,"1,311,635,000","9,525,000","8,841,000"
...,...,...,...,...,...,...,...
595,98000,Far West,2017,Thousands of dollars,"254,796,558","2,440,547","1,256,480"
596,98000,Far West,2018,Thousands of dollars,"281,113,313","2,727,939","1,390,248"
597,98000,Far West,2019,Thousands of dollars,"300,441,118","2,987,154","1,527,934"
598,98000,Far West,2020,Thousands of dollars,"301,322,699","3,210,563","1,604,009"
599,98000,Far West,2021,Thousands of dollars,"323,923,892","3,443,357","1,651,222"

<h1 style="color:#e76f51">SAPCE2</h1>
<br>
<blockquote>Load data with chosen line codes for SAPCE2 frame üëáüèº</blockquote>
<br>
<code style="background:#8ecae6;color:#ffffff">Mentioned table stored data about <b>"Per capita personal consumption expenditures (PCE) by major type of product"</b>.</code>
<br>
<code style="background:#8ecae6;color:#ffffff">API's year parameter has been set for <b>"LAST10"</b> - last ten years.</code>

In [54]:
SAPCE2_1 = x.bea_frame_return(line_code = 1, table_name= 'SAPCE2').drop(
     columns=['Code', 'UNIT_MULT']).rename(columns = {'DataValue': 'PCE_by_state'})

SAPCE2_10 = x.bea_frame_return(line_code = 10, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Clothing_footwear'})

SAPCE2_11 = x.bea_frame_return(line_code = 11, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Gasoline_other_energy_goods'})

SAPCE2_12 = x.bea_frame_return(line_code = 12, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Other_nondurable_goods'})

SAPCE2_13 = x.bea_frame_return(line_code = 13, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Services'})

SAPCE2_14 = x.bea_frame_return(line_code = 14, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Household_consumption_expenditures'})

SAPCE2_15 = x.bea_frame_return(line_code = 15, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Housing_and_utilities'})

SAPCE2_16 = x.bea_frame_return(line_code = 16, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Health_care'})

SAPCE2_17 = x.bea_frame_return(line_code = 17, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Transportation_services'})

SAPCE2_18 = x.bea_frame_return(line_code = 18, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Recreation_services'})

SAPCE2_19 = x.bea_frame_return(line_code = 19, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Food_services_and_accommodations'})

SAPCE2_2 = x.bea_frame_return(line_code = 2, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Goods'})

SAPCE2_20 = x.bea_frame_return(line_code = 20, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Financial_services_and_insurance'})

SAPCE2_21 = x.bea_frame_return(line_code = 21, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Other_services'})

SAPCE2_22 = x.bea_frame_return(line_code = 22, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'NPISHs'})

SAPCE2_23 = x.bea_frame_return(line_code = 23, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Gross_output_nonprofit_institutions'})

SAPCE2_24 = x.bea_frame_return(line_code = 24, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Less_Receipts_sales_goods_services_nonprofit_institutions'})

SAPCE2_3 = x.bea_frame_return(line_code = 3, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Durable goods'})

SAPCE2_4 = x.bea_frame_return(line_code = 4, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Motor_vehicles_and_parts'})

SAPCE2_5 = x.bea_frame_return(line_code = 5, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Furnishings_and_durable_household_equipment'})

SAPCE2_6 = x.bea_frame_return(line_code = 6, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Recreational_goods_and_vehicles'})

SAPCE2_7 = x.bea_frame_return(line_code = 7, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Other_durable_goods'})

SAPCE2_8 = x.bea_frame_return(line_code = 8, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Nondurable_goods'})

SAPCE2_9 = x.bea_frame_return(line_code = 9, table_name= 'SAGDP6N').drop(
     columns=['Code','GeoFips','GeoName','TimePeriod','CL_UNIT', 'UNIT_MULT', 'NoteRef']).rename(
    columns = {'DataValue': 'Food_and_beverages_purchased_offpremises_consumption'})

üóí <b>Line Codes description: </b>
<br>
<br>
<b>1</b> -> Per capita personal consumption expenditures (PCE) by state<br>
<b>10</b> -> Per capita personal consumption expenditures: Clothing and footwear<br>
<b>11</b> -> Per capita personal consumption expenditures: Gasoline and other energy goods<br>
<b>12</b> -> Per capita personal consumption expenditures: Other nondurable goods<br>
<b>13</b> -> Per capita personal consumption expenditures: Services<br>
<b>14</b> -> Per capita personal consumption expenditures: Household consumption expenditures (for services)<br>
<b>15</b> -> Per capita personal consumption expenditures: Housing and utilities<br>
<b>16</b> -> Per capita personal consumption expenditures: Health care<br>
<b>17</b> -> Per capita personal consumption expenditures: Transportation services<br>
<b>18</b> -> Per capita personal consumption expenditures: Recreation services<br>
<b>19</b> -> Per capita personal consumption expenditures: Food services and accommodations<br>
<b>2</b> -> Per capita personal consumption expenditures: Goods<br>
<b>20</b> -> Per capita personal consumption expenditures: Financial services and insurance<br>
<b>21</b> -> Per capita personal consumption expenditures: Other services<br>
<b>22</b> -> Per capita personal consumption expenditures: Final consumption expenditures of nonprofit institutions serving households (NPISHs)<br>
<b>23</b> -> Per capita personal consumption expenditures: Gross output of nonprofit institutions<br>
<b>24</b> -> Per capita personal consumption expenditures: Less: Receipts from sales of goods and services by nonprofit institutions<br>
<b>3</b> -> Per capita personal consumption expenditures: Durable goods<br>
<b>4</b> -> Per capita personal consumption expenditures: Motor vehicles and parts<br>
<b>5</b> -> Per capita personal consumption expenditures: Furnishings and durable household equipment<br>
<b>6</b> -> Per capita personal consumption expenditures: Recreational goods and vehicles<br>
<b>7</b> -> Per capita personal consumption expenditures: Other durable goods<br>
<b>8</b> -> Per capita personal consumption expenditures: Nondurable goods<br>
<b>9</b> -> Per capita personal consumption expenditures: Food and beverages purchased for off-premises consumption<br>

In [57]:
dfs = [SAPCE2_1, SAPCE2_2, SAPCE2_3, SAPCE2_4, SAPCE2_5, SAPCE2_6, SAPCE2_7, SAPCE2_8, SAPCE2_9, SAPCE2_10,
      SAPCE2_11, SAPCE2_12, SAPCE2_13, SAPCE2_14, SAPCE2_15, SAPCE2_16, SAPCE2_17, SAPCE2_18, SAPCE2_19, SAPCE2_20,
      SAPCE2_21, SAPCE2_22, SAPCE2_23, SAPCE2_24]

nan_value = 0

In [60]:
SAPCE2 = pd.concat(dfs, join='inner', axis=1).fillna(nan_value).replace(['(D)'], '0')
SAPCE2

,GeoFips,GeoName,TimePeriod,CL_UNIT,PCE_by_state,Goods,Durable goods,Motor_vehicles_and_parts,Furnishings_and_durable_household_equipment,Recreational_goods_and_vehicles,...,Housing_and_utilities,Health_care,Transportation_services,Recreation_services,Food_services_and_accommodations,Financial_services_and_insurance,Other_services,NPISHs,Gross_output_nonprofit_institutions,Less_Receipts_sales_goods_services_nonprofit_institutions
0,00000,United States,2012,Dollars,"35,144","1,135,591,000","9,830,000","8,218,000","1,612,000","40,045,000",...,"1,290,000","2,351,000","2,852,000","3,369,000","7,063,000","1,115,000","2,943,000","2,273,000","382,000","1,686,000"
1,00000,United States,2013,Dollars,"35,877","1,188,128,000","10,247,000","8,534,000","1,714,000","41,621,000",...,"1,296,000","2,362,000","3,509,000","3,422,000","7,630,000","1,126,000","3,073,000","2,330,000","387,000","3,045,000"
2,00000,United States,2014,Dollars,"37,109","1,240,286,000","11,626,000","9,930,000","1,696,000","46,098,000",...,"1,387,000","2,368,000","3,386,000","3,398,000","8,085,000","1,118,000","3,273,000","2,388,000","372,000","2,941,000"
3,00000,United States,2015,Dollars,"38,106","1,274,660,000","10,862,000","9,345,000","1,516,000","39,757,000",...,"1,433,000","2,459,000","3,348,000","3,516,000","8,495,000","1,147,000","3,382,000","2,462,000","384,000","2,955,000"
4,00000,United States,2016,Dollars,"39,132","1,311,136,000","10,278,000","8,768,000","1,510,000","37,402,000",...,"1,501,000","2,503,000","3,283,000","3,590,000","8,096,000","1,192,000","3,547,000","2,590,000","403,000","1,720,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,98000,Far West,2017,Dollars,"43,380","254,777,048","1,969,976","1,232,678","737,299","3,245,864",...,"196,854","238,236","402,354","428,015","3,179,639","141,910","208,726","750,128","51,970","339,185"
596,98000,Far West,2018,Dollars,"45,597","281,091,865","2,087,522","1,224,033","863,489","3,844,320",...,"211,879","253,054","424,698","446,515","3,414,801","170,874","236,447","799,412","54,039","359,426"
597,98000,Far West,2019,Dollars,"47,471","300,420,191","2,173,639","1,280,698","892,941","3,431,192",...,"224,351","271,114","461,741","484,381","3,596,249","193,753","255,627","816,888","58,799","418,093"
598,98000,Far West,2020,Dollars,"45,954","301,297,288","2,226,165","1,355,218","870,946","3,000,820",...,"232,731","270,251","461,285","526,500","3,985,678","203,698","354,379","838,487","60,079","402,870"
599,98000,Far West,2021,Dollars,"51,959","323,902,488","2,426,729","1,467,690","959,039","3,477,182",...,"240,887","265,991","453,430","557,203","4,381,431","227,987","396,930","848,948","62,195","422,287"