ðŸ‡ºðŸ‡¸ <b><big> Data Analysis for USA by State </big></b> ðŸ‡ºðŸ‡¸
<br>
<br>
Data downloaded from <a href="https://apps.bea.gov/API/signup/index.cfm">BEA's API website</a> ðŸ—‚
<br>
<br>
Designed by: Oskar Mierkiewicz & Sebastian WoÅºniczka
<br>
<img src="logo.png" width="250" height="320" style="float:left">
<br>
<br>

In [1]:
from libraries.table_load import GetRegionalData

In [5]:
x = GetRegionalData()
data = x.bea_frame_return(line_code = 10, table_name= 'SAEMP25N')
data

,Code,GeoFips,GeoName,TimePeriod,CL_UNIT,UNIT_MULT,DataValue
0,SAEMP25N-10,00000,United States,2021,Number of jobs,0,"201,142,600"
1,SAEMP25N-10,00000,United States,2020,Number of jobs,0,"195,301,600"
2,SAEMP25N-10,00000,United States,2019,Number of jobs,0,"201,648,200"
3,SAEMP25N-10,00000,United States,2018,Number of jobs,0,"200,281,200"
4,SAEMP25N-10,00000,United States,2017,Number of jobs,0,"196,394,100"
...,...,...,...,...,...,...,...
595,SAEMP25N-10,98000,Far West,2013,Number of jobs,0,"30,462,053"
596,SAEMP25N-10,98000,Far West,2019,Number of jobs,0,"34,648,754"
597,SAEMP25N-10,98000,Far West,2018,Number of jobs,0,"34,413,881"
598,SAEMP25N-10,98000,Far West,2020,Number of jobs,0,"33,104,843"
599,SAEMP25N-10,98000,Far West,2021,Number of jobs,0,"34,191,387"